@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

:root
  {
    
    --bs-border-radius: 0.375rem;
    --bs-progress-bar-color:#fff;
    --bs-secondary-bg:#0d6efd;
    --bs-progress-bar-bg:#0d6efd;
    --bs-ico-bar:#0d6efd;
  --bs-footer-color:#1e1e1e;
  --main-font:system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    
  }
  body {
    background-color: #f5f5f5;
    color: #4e4e4e;
    font-family:var(--main-font) ;
  }
  
  #home{
    background-image: url(../images/hero-bg.jpg);
    background-position: center center;
    background-size: cover;
   height:100vh;
   
  }
.logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  letter-spacing: 1px;
  margin-left:2rem;
}

.button:focus, .navbar-toggler:focus {
  outline:none !important;
  box-shadow: none;
     }
  
.head-text{
   align-items: center;
   font-size: 72px;
  color: #ffffff;
  font-weight:700;
  position:absolute;
  top:-10%;

}
.head-text2{
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #ffffff;
  font-weight:600;
 text-align: center;
 }

 .dropdown .dropdown-menu{
        display:none;
    }
 .dropdown:hover > .dropdown-menu,
.dropend:hover > .dropdown-menu {
  display: block;
  margin-top: 0.125em;
  }
.dropend:hover>.dropdown-menu{
  position: absolute;
  left: auto;
 top: 0;
 right:100%;
 margin-top: 0.125em;
}
.dropdown-item{
  font-size:14px;
  line-height: 24px;
  color:#4e4e4e;
  font-weight: 600;
 font-family:var(--mainfont);

}

.navbar-nav .nav-link  a{
 font-family:var(--main-font) ;
font-size:16px;
font-weight: 600;
color:#FFFFFF;

}
.navbar .dropdown ul{
     box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  color:black;
    transition: 0.3s;
  
}
.nav .dropendul li{
  color:black;
}
.navbar .dropdown ul a{
  font-size: 14px;
  color:#4e4e4e;
  padding:10px 20px;
}
navbar .active{
  border-bottom: 1px solid white;
  width: 3px;

}
.navbar-nav .nav-link{
   display:flex;
   white-space:nowrap;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
    font-size:16px;
    font-weight: 600;
    color:#FFFFFF;
   text-transform: uppercase;
   align-items: center;
   justify-content: space-between;

  }

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #0078ff;
}
  li{
  padding-left: 20px;
 list-style: none;
}

/*.navbar  a:hover{ 
  
  border-bottom: 3px solid white;

}*/

 .navbar .active{
  border-bottom: 3px solid white;
 
   }
  
.navbar a i, .navbar a:focus i{
  margin-left:5px;
}
.nav-link{
  position:relative;
}
 #mynav .navbar .nav-link:hover:after{
  content:'';
  height: 2px;
  width:100%;
  background-color :white;
  position:absolute;
  bottom: 0;
  left:0;
  opacity:0;
  transition: all 0.2s;
  }
  #mynav .navbar .nav-link:hover::after{
opacity:1;}
/*--------------*/
section{
    display:block;

}
.sect-pt4{
    padding:4rem;
}
.about-sec .container .item img{
  margin-left:3rem;
  border-radius: 0.5rem;

}
   
  .img-fluid{
max-width:100%;
height:auto;
  }
  .about-title1{
line-height: 2rem;
  }
.about-leftit{
  font-size:32px;
  color:#1e1e1e;
  font-weight: 500;
}
p{
  margin-top: 0;
  margin-bottom: 1rem;
}
.about .about-img {
  margin-bottom: 2rem;
margin-left: 2rem;}

  .about-titlimg{
    font-weight: 600;
     font-size: 16px;
    color:#4e4e4e;

}
.about-title1{
  margin-right: 2rem;
}
.about-sec .box-shadow-full {
  padding-top: 4rem;
  padding-bottom: 4rem;
  }
section{
  display:block;
}
  .about-me  h5{
  position:relative;
   }
   
   .about-me  h5::before{
  content: "";
  height:5px;
  background-color:#0078ff;
  width:20%;
  position: absolute;
  top:100%;
  left:0;
         }

   
.progress-bar {display: flex;   
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
       text-align: center;
    white-space: nowrap;
    transition: var(--bs-progress-bar-transition);
  }
 skill .progress .progress-bar {
    height: 0.7rem;
    
  }
  .pt-5 {
    padding-top: 3rem!important;
}
  
  .skill .progress{
     background-color: #CDE1F8;
    margin: 0.5rem 0 1.2rem 0;
    border-radius: 0;
    height: 0.7rem;
    color:#0078ff;
}
.about .box-shadow-full {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.box-shadow-full {
padding: 3rem 1.25rem;
    position: relative;
    background-color: #fff;
    margin-bottom: 3rem;
     z-index: 2;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.about-sec .box-shadow-full {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.service-box .ico-circle {
  transition: all 500ms ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.service-box .ico-circle i {
  line-height: 0;
  font-size: 40px;
}

.service-box .serv-title {
  font-size: 1.3rem;
  text-transform: uppercase;
  text-align: center;
  padding: 0.4rem 0;
  font-weight: 500;
  color:#1e1e1e;

}
.service-box {
  background-color: #fff;
  padding: 2.5rem 1.3rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
  text-align: center;
}
.box-shadow,  .work-det, .service-box  {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}
.service-box .details{
  color: #4e4e4e;
}
.service-box .ico-circle{
    width: 100px;
    height: 100px;
    margin: 20px;
    border:8px solid #0d6efd;
   border-radius: 50%;
}

.service-box .ico-circle:hover{
  width: 100px;
  height: 100px;
  margin: 20px;
  border:8px solid #d7dadf;
 border-radius: 50%;
 background-color: #0078ff;
}
.services-head-text1{
  font-size:48px;
  color:#1e1e1e;
  font-weight: 700;

}
.text-center {
  text-align: center!important;
}
.service-head-text1::after{
content:"";
width: 40px;
height: 5px;
background-color: #0078ff;
margin: 0 auto;

}
.services-head-text2{
  font-size:16px;
  color:#4e4e4e;
  font-weight: 400;
  padding-bottom: 1rem;
   margin-bottom: 1rem
}
.serv-item{
  text-align: center !important;
margin-bottom: 3rem !important;
padding-bottom: 20px;
}
.container .serv-item p{
  position:relative;
   }
  .container .serv-item p::after{
  content: "";
  height:5px;
  background-color:#0078ff;
  width:40px;
  position: absolute;
  top:100%;
  left:50%;
     }
     
     /*-----*/
     #countersec{background-image: linear-gradient(rgba(142, 177, 233, 0.848), rgba(68, 114, 222, 0.879)),url(../images/counters-bg.jpg);
      background-position: center center;
      background-size: cover;
      
      }
      .counter-box{
        color:white;
        text-align: center;
      }

        /*-----*/

     .work-item {
      margin-bottom: 3rem;
        background-color: #fff;
    }
    .work-item:hover img {
      transform: scale(1.3);
    }
    
    .work-img {
      display: block;
      overflow: hidden;
    }
    .work-img img {
      transition: all 1s;
    }
    .work-item  {
      color: #4e4e4e;
      font-size: 0.8rem;}
.work-det{
  padding:2rem  1rem;
}
          
      .work-head{
  font-size:19px;
  font-weight:500;
  color:#1e1e1e;
      }
      .work-des1{
        font-size:13px;
        font-weight:400;
        color:#4e4e4e;
                      }
.work-des2{
font-size:13px;
font-weight:400;
color: #0078ff
}  
.card{
  position: relative;
}

.job-des{
width:fit-content;
background-color: #0078ff;
position: absolute;
color:white;
font-size: 16px !important;
font-weight: 400;
text-transform: uppercase;
top:52%;
left:30%;
right:30%;

}

.w-icon{
font-size: 2.5rem;
color: #0078ff;
float: right;
}
.testimonial-box {
  color: #fff;
  text-align: center;
}
 .img-slider {
  margin-top: 1rem;
  text-align: center;

}

.carousel .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color:#fff;
  }
  #testimonial{
  background-image: linear-gradient(rgba(142, 177, 233, 0.848), rgba(68, 114, 222, 0.879)),url(../images/overlay-bg.jpg);
  background-position: center center;
  background-size: cover;
  height: 100vh;
  }
  .testimonial-des {
    color: #fff;
    text-align: center !important;
  }
  
  .testimonial-des .author-test {
    margin-top: 1rem;
  }
  
  .testimonial-des .img-slider img {
    margin: 0 auto;
  }
  .slider-text{
    text-align: center!important;
  }
  .img-icon {
    width: 32px;
    height: 32px;
    margin-right: 4px;
    overflow: hidden;
  }
  .footer-text{
    display:inline-block;
  }
  .blog-time{
    font-size:15px;
    display:inline;
    font-weight: 400;
  }

  .blog-icon{
     font-size: 2.5rem;
    color:black;
      float:right;
    font-weight: 400;
    }
    @mixin clearfix() {
      &::after {
        display: block;
        content: "";
        clear: both;
      }
    }
    .footer-sec{
      background-image: url(../images/overlay-bg.jpg);
      background-position: center center;
      background-size: cover;
    }
.contact-head{
  font-size:2rem;
font-weight: 500;
color:v(--bs-footer-color);

}
.contact-text{
  font-size: 14px;
  font-weight: 400;
  color:#212529;
}
.footer{
  color:#FFFFFF;
  font-size:16px;
  font-weight: 400;
  text-align:center;
  background-color: #4C9EF2;

}
.footer-text1{
  color:#FFFFFF;
  font-size:16px;
  font-weight: 700;
  text-align:center;
  }
  input[type=text]{
    padding-top: 10px;
    padding-bottom: 10px;
      border-radius:0;}
textarea ,input[type=text]:focus{
  outline: 2px solid #4C9EF2 ;
}
#contact{background-image: linear-gradient(rgba(142, 177, 233, 0.848), rgba(68, 114, 222, 0.879)),url(../images/overlay-bg.jpg);
background-position: center center;
background-size: cover;
}
.footer-btn{
  border-radius: 5rem;
  font-size: 1.2rem;
  text-align: center !important;
  margin-bottom:20px;
  }
.rounded{ 
  border-radius:5rem !important;
}
py-5{
  padding-top: 3rem!important;
  padding-bottom: 3rem!important;
}
   .icon-contact{
  height: 100px;
    width: 100px;
    font-size: 1.2rem;
    border-radius: 50%;
    line-height: 1.6;
    padding:3px 3px;
    margin: 5px 5px;
    box-shadow: 0 0 0 2px #1b1c1d;
    transition: all 500ms ease;}

    .list{
display:flex;
    }
    .icon-contact:hover {
      background-color: #0078ff;
      
      box-shadow: 0 0 0 3px #cde1f8;
      transition: all 500ms ease;
    }

   #contact   h5{
      position:relative;
           
       }
       
     #contact   h5::after{
      content: "";
      height:5px;
      background-color:#0078FF;
      width:20%;
      position: absolute;
      top:100%;
      left:0;           
    
    }
    .counter-icon{
      display:flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      width: 60px;
      line-height: 1.5;
      border-radius: 50%;
      box-shadow: 0 0 0 10px #cde1f8;
    }
    .counter-nummber num{
      font-size: 3rem !important;
       text-align: center !important;

    }
    .counter-box {
       color: #fff;
      text-align: center;
    }
  .me{
    
    text-align: center! important;
  }

    
    /*----home inmation-----------------------*/
    #home h1{
      position: relative;
    }
           #home h1::after{
            content: '|';
            animation: 9s typing infinite;
            animation-delay: 0s;
            position: absolute;
            text-align: center;
            top:100%;
            left:0;
            right:15%;
        }
        /* inmation */
        
        @keyframes typing {
            0%{
                content: 'D |';
            }
            1%{
                content: 'De |';
            }
            2%{
                content: 'Des |';
            }
            3%{
                content: 'Desi |';
            }
            4%{
                content: 'Desig |';
            }
            5%{
                content: 'Design |';
            }
            6%{
                content: 'Designe |';
            }
            7%{
                content: 'Designer |';
            }
            8%{
                content: 'Designe |';
            }
            9%{
                content: 'Design |';
            }
            10%{
                content: 'Desig |';
            }
            11%{
                content: 'Desi |';
            }
            12%{
                content: 'Des |';
            }
            13%{
                content: 'De |';
            }
            14%{
                content: 'D |';
            }
           15% {
                content: ' |';
            }
           16% {
              content: ' D|';
          }
          17% {
            content: ' De|';
        }
        18% {
          content: ' Dev|';
      }
      19% {
        content: ' Deve|';
    }
    20% {
      content: ' Devel|';
  }
  20% {
    content: ' Develo|';
}
21% {
  content: ' Develop|';
}
22% {
  content: ' Develope|';
}
23% {
  content: ' Developer|';
}
24% {
  content: ' Develope|';
}
25% {
  content: ' Develop|';
}
26% {
  content: ' Develo|';
}
27% {
  content: ' Devel|';
}

28% {
  content: ' Deve|';
}
29% {
  content: ' Dev|';
}
30% {
  content: ' De|';
}
31% {
  content: ' D|';
}
32% {
  content: ' D|';
}
33% {
  content: ' |';
}
34% {
  content: 'F |';
}
35% {
  content: 'Fr |';
}
36% {
  content: 'Free |';
}
37% {
  content: 'Freel |';
}
38% {
  content: 'Freela |';
}
39% {
  content: 'Freelan |';
}
40% {
  content: 'Freelanc |';
}
41% {
  content: 'Freelance |';
}
42% {
  content: 'Freelancer|';
}
43% {
  content: 'Freelance|';
}
44% {
  content: 'Freelanc|';
}
45% {
  content: 'Freelan|';
}
46% {
  content: 'Freela|';
}
47% {
  content: 'Freel|';
}

48% {
  content: 'Free|';
}
49% {
  content: 'Fre|';
}
50% {
  content: 'Fre|';
}
52% {
  content: 'Fr|';
}
53% {
  content: 'F|';
}
54% {
  content: '|';
         }
55%{
  content: 'P|';

}
56%{
  content: 'Ph|';

}
57%{
  content: 'Pho|';

}
58%{
  content: 'Phot|';

}
59%{
  content: 'Photo|';

}
60%{
  content: 'Photog|';

}
61%{
  content: 'Photogr|';

}62%{
  content: 'Photogrp|';

}
63%{
  content: 'Photogrph|';

}
64%{
  content: 'Photogrphe|';

}
65%{
  content: 'Photogrpher|';

}
66%{
  content: 'Photogrpher|';

}
67%{
  content: 'Photogrphe|';

}
68%{
  content: 'Photogrph|';

}
69%{
  content: 'Photogrp|';

}
70%{
  content: 'Photogr|';
}
71%{
  content: 'Photog|';
}
72%{
  content: 'Photo|';
}
73%{
  content: 'Phot|';
}
74%{
  content: 'Pho|';
}
75%{
  content: 'Ph|';
}

 76% { 
    content:"P|";
  } 
 77%,100% { 
    content:"";
  } 

        }
        /*------------------------------*/
          
        
          @media screen and (max-width: 500px) {
       
        .navbar ul{
          background-color: rgba(240,240,240,1.0) !important ;
      }}
      .navbar  a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #4e4e4e;
}
